@import url(../pageLayout.css);
@import url(../Button/button.css);
:root {
    --card-lower-background-color: #f5f5f5;
    --card-lower-border-color: #474747;
    --image-container-color: white;
}

.header-description {
    opacity: 0.7;
    font-size: 0.8rem;
}

.card-description {
    font-family: "Poppins", sans-serif;
    opacity: 0.9;
}

.card.vertical {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20rem;
    min-height: 30rem;
    border-radius: 10px;
    margin: 1rem 0;
    background-color: var(--card-lower-background-color);
}

.card .img-container {
    height: 16rem;
    background-color: var(--image-container-color);
    border-radius: 10px 10px 0 0;
}

.card .img-container img {
    display: block;
    width: 18rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    margin: 1rem auto;
}

.lower-card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--card-lower-background-color);
    margin: 0 1rem;
}