@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url(../pageLayout.css);
:root {
    --vodka-UI-background-color: white;
    --vodka-UI-heading-color: #333333;
    --vodka-UI-text-color: #525252;
    font-family: Roboto;
    --highlight-word: black;
}


/* footer */

.direct-upward {
    font-size: 3rem;
    position: fixed;
    bottom: 10%;
    right: 1%;
    opacity: 0.5;
}

footer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.6rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

footer a {
    text-decoration: none;
    color: var(--vodka-UI-heading-color);
    font-weight: bolder;
    opacity: 0.5;
}

footer a:hover {
    opacity: 1;
}

iframe {
    margin-top: 2rem;
    width: 97%;
}


/* profile avatar */

.avatar {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.example-div {
    display: flex;
    width: 96%;
    justify-content: center;
    align-items: center;
    min-height: 8rem;
    background-color: #ebebeb;
    border-radius: 1.2rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.example-div img {
    margin-left: 2rem;
}


/* sizes avatar */

.large {
    height: 5rem;
    width: 5rem;
}

.medium {
    height: 3.5rem;
    width: 3.5rem;
}

.small {
    width: 2rem;
    height: 2rem;
}


/* square avatars */

.square {
    border-radius: 0.6rem;
}