@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url(../pageLayout.css);
:root {
    --vodka-UI-background-color: white;
    --vodka-UI-heading-color: #333333;
    --vodka-UI-text-color: #525252;
    font-family: Roboto;
    --highlight-word: black;
}

::-webkit-scrollbar {
    display: none;
}

.alert-example-div {
    display: flex;
    flex-direction: column;
    width: 96%;
    min-height: 8rem;
    background-color: #ebebeb;
    border-radius: 1.2rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-top: 1rem;
}

.carbon-code {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}


/* simple alert */

.alert {
    min-height: 2.5rem;
    margin: 1rem;
    border-radius: 0.5rem;
    color: white;
    padding-left: 2rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-size: 0.9rem;
}

.primary {
    background-color: rgba(58, 236, 236, 0.616);
}

.error {
    background-color: rgb(238, 105, 105);
}

.success {
    background-color: rgb(26, 221, 26);
}

.warning {
    background-color: rgb(212, 212, 100);
}


/* outline alert */

.outline-primary {
    color: blue;
    border: 2px solid blue;
    background-color: white;
    font-weight: bolder;
}

.outline-error {
    color: red;
    border: 2px solid red;
    background-color: white;
    font-weight: bolder;
}

.outline-success {
    color: green;
    border: 2px solid green;
    background-color: white;
    font-weight: bolder;
}

.outline-warning {
    color: yellow;
    border: 2px solid yellow;
    background-color: white;
    font-weight: bolder;
}


/* footer */


/* arrow button to direct upward */

.direct-upward {
    font-size: 3rem;
    position: fixed;
    bottom: 10%;
    right: 1%;
    opacity: 0.5;
}